
header, footer{

    background-color: rgb(160, 241, 160);
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

body{

    background-color: rgb(192, 227, 210);
}


 .navbar {
       
    display: flex;
    gap: 10px;
    text-align: right;

         }