
header, footer{

    background-color: rgb(160, 241, 160);
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

body{

    background-color: rgb(192, 227, 210);
}


 .navbar {
       
    display: flex;
    gap: 10px;
    text-align: right;

         }

  /* Styling for Login Page*/ 

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.login-form {
    width: 350px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.login-form h3 {
    text-align: center;
    color: #2e86de;
}

 .login-button {
    background-color: #d89446;
    color: white;
    padding:10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
}

.login-button:hover {
    background-color: #da82eb;
}     