
/* ------------------------------ Header Styling ---------------------------- */

header {
   
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #84f48d;
}

header h1 {
    color: rgb(70, 122, 236);
    margin: 0;
    font-size: 30px;
}



/* --------------------- Navbar styling ------------------------------------*/

 .navbar {
     
    display: flex;
    gap: 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;
}

.navbar a:hover {
    color: #f38d19;
    transform: translateY(-2px);
 }

  /*---------------------------- Mobile & Tab responsive ----------------------*/
/* Tablet */

@media (max-width: 768px) {

    header {
        padding: 15px 25px;
    }

    header h1 {
        font-size: 26px;
    }

    .navbar {
        gap: 20px;
    }

    .navbar a {
        font-size: 16px;
    }

}

/* mobile*/

@media (max-width: 480px) {

    header {
        flex-direction: column;
        gap: 15px;
        padding: 20px;
    }

    header h1 {
        font-size: 24px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .navbar a {
        font-size: 16px;
    }

}

  /*---------------------------- Login Page --------------------------------*/ 

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.login-form {
    background-color: #e8f5e9;
    width: 350px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.login-form h3 {
    text-align: center;
    color: #2e86de;
}

 .login-button {
    background-color: #d89446;
    color: white;
    padding:10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: 1s;
}

.login-button:hover {
    background-color: #e298f1;
    transition: 1s;
}     

.login-error-message {
    color: red;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

@media(max-width:600px){

    .login-form {
        width: 90%;
        padding: 20px;
    }
    
    .login-container {
        min-height: 80vh;
    }

    .login-button {
        font-size: 14px;
    }
}